.row {
    display: inline-block;
    align-items: start;
}
.highlight {
    background: #f04444;
    color: #f0f8ff;
    transition:.1s;
}
.pixel:hover {
    background: #f04444;
}
.pixel {
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-top: 1px solid #6666;
    border-left: 1px solid #6666;
    transition-property: background-color;
    transition-duration: .15s;
}
.pixel_large {
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.pixel_medium {
    width: 10px;
    height: 10px;
    line-height: 10px;
}
.pixel_small {
    width: 5px;
    height: 5px;
    line-height: 5px;
}
.pixel_really_small {
    width: 1px;
    height: 1px;
    line-height: 1px;
}
.pixel:hover {
    background: #f04444;
}
.log_list_item{
    font-size: 18px;
    z-index:100;
    border: 1px solid #555;
    border-radius: 5px;
    padding:6px;
    margin: 8px;
}
.log_list_item:hover {
    background: #f04444;
    color: #f0f8ff;
    transition:.1s;
}
.status_bar{
    position: absolute;
    font-size: 18px;
    background-color:white;
    border-radius: 5px;
    border: 1px solid #66666666;
    padding:8px;
    left: 20px;
    top: 66px;
    color: #555;
    transition:1s;
}
select {
    width: 150px;
    padding: 3px;
    font-family: Consolas, serif;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #66666666;
}
input {
    width: 50px;
    padding: 3px;
    font-family: Consolas, serif;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #66666666;
}
pre {
    font-family: Consolas, serif;
    white-space: pre-wrap; /* 自动换行 */
}

.object-nav-bar {

}

.object-item {
    width: 150px;
    height: 50px;
    padding: 8px;
    background: transparent none;
    border: 2px solid transparent;
}
.object-item-hover {
    width: 150px;
    height: 50px;
    padding: 8px;
    background: #66666666;
    border: 2px solid transparent;
}
.object-item:hover {
    .object-item-hover;
}
.object-item:active {
    width: 150px;
    height: 50px;
    padding: 8px;
    background: #66666666;
    border: 2px solid transparent;
}

.object-draw-btn {
    appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px #efefef;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3.15em;
    line-height: 2.75em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: Consolas,serif;
}
#screen {
    display: inline-block;
}
.panel_item {
    margin: 8px;
}
#panel {
    display: inline-block;
    margin: 20px;
    width: 50%;
}
.inline {
    display: inline-block;
}
#canvas {
    border: 1px solid #333;
}